.wrap {
	display: flex;
	flex-direction: column;
	gap: 0.625rem;
	height: 100%;
	padding: 1.875rem;
	border-radius: var(--radius-sm);
	background-color: var(--clr-dark-2);
}

.head {
	display: flex;
	flex-flow: column wrap;
	gap: 0.25rem;
}

.user {
	display: flex;
	align-items: center;
	gap: 0.625rem;
}

.user__image {
	width: 2.625rem;
	height: 2.625rem;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
}

.user__name {
	font-size: 1.5rem;
	font-family: var(--ff-accent);
	font-weight: 600;
}

.info {
	margin: 0;
	opacity: 0.5;
}

.body > *:first-child {
	margin-top: 0;
}

.body > *:last-child {
	margin-bottom: 0;
}

.button {
	align-self: flex-end;
	margin: auto 0 0;
	border: none;
	border-radius: 999rem;
	padding: 0.5em 0.75em;
	background: var(--clr-dark-3);
	font-size: 0.875rem;
	color: inherit;
	cursor: pointer;
}

@media screen and (width < 80em) {
	.user__name {
		font-size: 1.125rem;
	}
}

@media screen and (width < 48em) {
	.wrap {
		padding: 1.25rem;
	}

	.head {
		flex-direction: column;
		align-items: flex-start;
	}

	.user__image {
		width: 1.75rem;
		height: 1.75rem;
	}

	.user__name {
		font-size: 1rem;
	}
}
