.wrap {
	display: grid;
	grid-template-columns: 1fr 1fr;
	place-content: center;
	gap: 2.5rem;
	flex: 1 1 auto;
	padding: 2.5rem;
	border-radius: var(--radius-lg);
	background-color: var(--clr-blue-1);
}

.head {
	display: flex;
	align-items: center;
	justify-content: center;
}

.head__content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.number {
	font-size: max(15vw, 8rem);
	font-weight: 600;
	z-index: 1;
}

.round {
	width: max(12vw, 6rem);
	height: max(12vw, 6rem);
	background-color: var(--clr-red-1);
	border-radius: 50%;
	box-shadow:
		0 0 5rem 0 rgba(223, 65, 66, 0.75),
		0 0 5rem 0 rgba(223, 65, 66, 0.75);
	animation: anim-shadow 2s infinite ease-out;
}

@keyframes anim-shadow {
	0% {
		box-shadow:
			0 0 2rem 0 rgba(223, 65, 66, 0.15),
			0 0 5rem 0 rgba(223, 65, 66, 0.25);
	}

	75% {
		box-shadow:
			0 0 2rem 0 rgba(223, 65, 66, 0.75),
			0 0 5rem 0 rgba(223, 65, 66, 0.875);
	}

	100% {
		box-shadow:
			0 0 2rem 0 rgba(223, 65, 66, 0.15),
			0 0 5rem 0 rgba(223, 65, 66, 0.25);
	}
}

.body {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.body__content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 30rem;
	gap: 1.25rem;
}

@media screen and (width < 80em) {
	.wrap {
		padding: 1.25rem;
		gap: 1.25rem;
	}
}

@media screen and (width < 48em) {
	.wrap {
		grid-template-columns: 1fr;
	}
}
