.over {
	position: fixed;
	inset: 0;
	padding: 1.25rem;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	overflow: hidden auto;
	backdrop-filter: blur(10px);
}

.wrap {
	position: relative;
	padding: 2.5rem 1.25rem;
	border-radius: var(--radius-lg);
	background-color: var(--clr-neutral-1);
}

.close {
	position: absolute;
	top: 1.25rem;
	right: 1.25rem;
	width: 2rem;
	height: 2rem;
	padding: 0;
	border: none;
	border-radius: 50%;
	background: none;
	transform: rotate(45deg);
	cursor: pointer;
}

.close > span {
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: currentColor;
	transform: translate(-50%, -50%);
	border-radius: 99rem;
}

.close > span:nth-child(1) {
	width: 0.125rem;
	height: 100%;
}

.close > span:nth-child(2) {
	height: 0.125rem;
	width: 100%;
}

.body {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	padding: 0 1.25rem;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	gap: 2.5rem;
}

.item {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	width: calc(50% - 1.25rem);
}

.heading {
	margin: 0;
	font-family: var(--ff-accent);
	font-weight: 600;
}

.text {
	margin: 0;
}

.list {
	display: flex;
	flex-wrap: wrap;
	gap: 0.625rem;
	margin: 0;
	padding: 0;
	list-style: none;
}

.info {
	padding: 0.5em 0.75em;
	border-radius: 999rem;
	background-color: var(--clr-blue-1);
	font-family: var(--ff-accent);
	font-weight: 600;
}

.program {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	margin: 0;
	padding: 1.25rem;
	border-radius: var(--radius-md);
	background-color: var(--clr-dark-1);
	list-style: none;
	color: var(--clr-neutral-1);
}

.program__item {
	display: flex;
	flex-direction: column;
	gap: 0.625rem;
}

.program__head {
	display: flex;
	gap: 0.625rem;
}

.program__label {
	opacity: 0.5;
	margin: 0;
}

.program__count {
	margin: 0;
}

.program__name {
	margin: 0;
	font-family: var(--ff-accent);
	font-weight: 600;
}

.author {
	display: grid;
	grid-template-columns: 40% 1fr;
	gap: 1.25rem;
}

.author__image {
	border-radius: var(--radius-md);
	object-fit: cover;
	width: min(100%, 18.75rem);
	object-position: center;
	height: auto;
	aspect-ratio: 300/380;
}

.author__content {
	display: flex;
	flex-direction: column;
	gap: 0.625rem;
}

.author__name {
	margin: 0;
	font-family: var(--ff-accent);
	font-weight: 600;
	line-height: 1.2;
}

.author__descr {
	margin: 0;
	opacity: 0.5;
}

.images {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
	gap: 1.25rem;
}

.image {
	border-radius: var(--radius-sm);
	width: 100%;
	height: auto;
	aspect-ratio: 105/148;
	object-fit: cover;
	object-position: center;
}

.button {
	position: sticky;
	bottom: 0;
}

@media screen and (width < 80em) {
	.grid {
		flex-direction: column;
	}

	.item {
		width: 100%;
	}

	.author {
		grid-template-columns: min(40%, 15rem) 1fr;
	}

	.images {
		grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
		gap: 0.625rem;
	}
}

@media screen and (width < 48em) {
	.over {
		padding: 0.625rem;
	}

	.wrap {
		padding: 1.25rem 0rem;
		border-radius: var(--radius-sm);
	}

	.close {
		top: 0.625rem;
		right: 0.625rem;
	}

	.body {
		padding: 0 0.625rem;
	}

	.grid {
		gap: 1.25rem;
	}

	.item {
		gap: 0.625rem;
	}

	.info {
		border-radius: var(--radius-sm);
	}

	.author {
		grid-template-columns: 1fr;
	}
}

@media screen and (width < 36em) {
	.author__image {
		width: 100%;
		aspect-ratio: 1/1;
	}
}
